@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: max(884px, 100dvh);
  }
  
  *:focus-visible {
    outline: 3px solid #6D28D9;
    outline-offset: 2px;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
