@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  body {
    @apply bg-background-light dark:bg-background-dark text-gray-900 dark:text-white antialiased;
    font-family: 'Lexend', sans-serif;
    min-height: 100vh;
  }

  *:focus-visible {
    @apply outline-primary outline-2 outline-offset-2;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
